html{
  height:100%;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body{
  min-height:100%;
  font-family:"Segoe UI" !important;
  font-weight: 100;
  background-image: url("https://wallpapercave.com/wp/P3EtD4C.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align:center;
  margin: 0px;
  padding: 0px;
  overflow:hidden;
}

body h1{
    color:white;
}


textarea{
  width:20px;
  height: 20px;
}

.nazivi{
  width:49%;
  float:left;
  background-color:skyblue;
  margin-top:10px;
  border: 1px solid black;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  max-height:150px;
  font-size:1.7em;
  text-align:center;
}

.vrijednosti{
  width:49%;
  float:left;
  background-color:#170c82;
  color:white;
  margin-top:10px;
  border: 1px solid black;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  max-height:200px;
  font-size:1.7em;
  text-align:center;
}

#prikazi{
  box-shadow: 0px 0px 95px -6px rgba(242,233,242,1);
  padding: 30px;
  border-radius:10px;
}

button{
  font-family: "Segoe UI" !important;
  font-weight: 100;
  margin-top:10px;
  padding: 1em 1em;
}


#obrisi, #obrisi:hover{
  background-color:#800000;
  color:black;
}

#interakcija{
  width:100%;
}

.trecina{
  float:left;
  width:33.333333%;
  text-align:center;
  margin-top: 40px;
  margin-bottom:30px;
}



#videoPjesma{
  width:100%;
  text-align:center;
}

embed{
  width:400px;
  height:300px;
  margin-top:20px;
  border-radius:10%;
  border:1px solid white;
}

footer{
  background-color: black;
  color:white;
  bottom: 0;
  left: 0;
  position: absolute;
  border-radius: 2%;
  text-align: center;
  font-family: "Actor";
  width:100%;
}

footer img{
  padding-left: 30px;
  max-height:50px;
  max-width:70px;
}

@media all and (max-width:690px){

  .nazivi{
    width:100%;
    font-size:1em;
  }

  .vrijednosti{
    width:100%;
    font-size:1em;
  }

  body h1{
    font-size:1em;
  }

  button{
    max-height:70px;
    max-width:90px;
    font-size:0.7em;
  }

  embed{
    max-width:200px;
    max-height:120px;
    margin-top:10px;
    border-radius:5%;
    border:1px solid white;
  }

  footer{
    font-size:0.8em;
  }

  footer img{
    padding-left: 0px;
  }

}
